<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.gini.android.capture">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application>
        <activity
            android:name="net.gini.android.capture.camera.CameraActivity"
            android:exported="false"
            android:label="@string/gc_title_camera"
            android:theme="@style/GiniCaptureTheme" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- To provide clients a bundled version of the MLKit to support older devices, this meta-data must be removed-->
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode,ocr" />
    </application>

</manifest>