<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.gini.android.bank.sdk">

    <application>
        <activity
            android:name=".HelpActivity"
            android:exported="false" />
        <activity android:name=".capture.CaptureFlowActivity" />
        <activity
            android:name=".capture.digitalinvoice.DigitalInvoiceActivity"
            android:exported="false"
            android:label="@string/gbs_title_digital_invoice"
            android:theme="@style/GiniCaptureTheme" />
        <activity
            android:name=".capture.digitalinvoice.details.LineItemDetailsActivity"
            android:exported="false"
            android:label="@string/gbs_title_line_item_details"
            android:theme="@style/GiniCaptureTheme"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>