name: Build docs for Bank API Library

on:
  push:
    paths:
      - 'bank-api-library/**'
    branches:
      - '**'
    tags-ignore:
      - '**'
  pull_request:
    types: [opened, edited, reopened]
    paths:
      - 'bank-api-library/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ !contains(github.ref, 'refs/tags/')}}

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: setup java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'

      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: 'pypy2.7'

      - name: setup ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2.0'
          bundler-cache: true

      - name: build documentation
        uses: maierj/fastlane-action@v3.1.0
        with:
          lane: 'build_documentation'
          options: >
            { 
              "project_id": "bank-api-library",
              "module_id": "library"
            }

      - name: archive documentation
        uses: actions/upload-artifact@v3
        with:
          name: bank-api-library-documentation
          path: bank-api-library/library/build/docs